<%- include("partials/header.ejs") %>

<main>
  
  <% if(locals.weatherData) {%>
  <div id="cover-weather-board" class="box-blur">
    <div id="cover-current-weather">
      <div class="temperature-area">
        <h2 class="location"><%= weatherData.timezone %></h2>

        <div class="temperature">
          <p><%= weatherData.current.temperature_2m %> <%=
          weatherData.current_units.temperature_2m %></p>
        </div>
        <!-- clear sky -->
        <% if(weatherData.current.weather_code===0 ||
        weatherData.current.weather_code===1 ||
        weatherData.current.weather_code===2 ||
        weatherData.current.weather_code===3) {%>
        <div class="symbol-weather">
          <svg
            fill="#ffffff"
            width="64px"
            height="64px"
            viewBox="0 0 240 240"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style="enable-background: new 0 0 240 240"
            xml:space="preserve"
            stroke="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <path
                  d="M58.57,25.81c-2.13-3.67-0.87-8.38,2.8-10.51c3.67-2.13,8.38-0.88,10.51,2.8l9.88,17.1c2.13,3.67,0.87,8.38-2.8,10.51 c-3.67,2.13-8.38,0.88-10.51-2.8L58.57,25.81L58.57,25.81z M120,51.17c19.01,0,36.21,7.7,48.67,20.16 C181.12,83.79,188.83,101,188.83,120c0,19.01-7.7,36.21-20.16,48.67c-12.46,12.46-29.66,20.16-48.67,20.16 c-19.01,0-36.21-7.7-48.67-20.16C58.88,156.21,51.17,139.01,51.17,120c0-19.01,7.7-36.21,20.16-48.67 C83.79,58.88,101,51.17,120,51.17L120,51.17z M158.27,81.73c-9.79-9.79-23.32-15.85-38.27-15.85c-14.95,0-28.48,6.06-38.27,15.85 c-9.79,9.79-15.85,23.32-15.85,38.27c0,14.95,6.06,28.48,15.85,38.27c9.79,9.79,23.32,15.85,38.27,15.85 c14.95,0,28.48-6.06,38.27-15.85c9.79-9.79,15.85-23.32,15.85-38.27C174.12,105.05,168.06,91.52,158.27,81.73L158.27,81.73z M113.88,7.71c0-4.26,3.45-7.71,7.71-7.71c4.26,0,7.71,3.45,7.71,7.71v19.75c0,4.26-3.45,7.71-7.71,7.71 c-4.26,0-7.71-3.45-7.71-7.71V7.71L113.88,7.71z M170.87,19.72c2.11-3.67,6.8-4.94,10.48-2.83c3.67,2.11,4.94,6.8,2.83,10.48 l-9.88,17.1c-2.11,3.67-6.8,4.94-10.48,2.83c-3.67-2.11-4.94-6.8-2.83-10.48L170.87,19.72L170.87,19.72z M214.19,58.57 c3.67-2.13,8.38-0.87,10.51,2.8c2.13,3.67,0.88,8.38-2.8,10.51l-17.1,9.88c-3.67,2.13-8.38,0.87-10.51-2.8 c-2.13-3.67-0.88-8.38,2.8-10.51L214.19,58.57L214.19,58.57z M232.29,113.88c4.26,0,7.71,3.45,7.71,7.71 c0,4.26-3.45,7.71-7.71,7.71h-19.75c-4.26,0-7.71-3.45-7.71-7.71c0-4.26,3.45-7.71,7.71-7.71H232.29L232.29,113.88z M220.28,170.87 c3.67,2.11,4.94,6.8,2.83,10.48c-2.11,3.67-6.8,4.94-10.48,2.83l-17.1-9.88c-3.67-2.11-4.94-6.8-2.83-10.48 c2.11-3.67,6.8-4.94,10.48-2.83L220.28,170.87L220.28,170.87z M181.43,214.19c2.13,3.67,0.87,8.38-2.8,10.51 c-3.67,2.13-8.38,0.88-10.51-2.8l-9.88-17.1c-2.13-3.67-0.87-8.38,2.8-10.51c3.67-2.13,8.38-0.88,10.51,2.8L181.43,214.19 L181.43,214.19z M126.12,232.29c0,4.26-3.45,7.71-7.71,7.71c-4.26,0-7.71-3.45-7.71-7.71v-19.75c0-4.26,3.45-7.71,7.71-7.71 c4.26,0,7.71,3.45,7.71,7.71V232.29L126.12,232.29z M69.13,220.28c-2.11,3.67-6.8,4.94-10.48,2.83c-3.67-2.11-4.94-6.8-2.83-10.48 l9.88-17.1c2.11-3.67,6.8-4.94,10.48-2.83c3.67,2.11,4.94,6.8,2.83,10.48L69.13,220.28L69.13,220.28z M25.81,181.43 c-3.67,2.13-8.38,0.87-10.51-2.8c-2.13-3.67-0.88-8.38,2.8-10.51l17.1-9.88c3.67-2.13,8.38-0.87,10.51,2.8 c2.13,3.67,0.88,8.38-2.8,10.51L25.81,181.43L25.81,181.43z M7.71,126.12c-4.26,0-7.71-3.45-7.71-7.71c0-4.26,3.45-7.71,7.71-7.71 h19.75c4.26,0,7.71,3.45,7.71,7.71c0,4.26-3.45,7.71-7.71,7.71H7.71L7.71,126.12z M19.72,69.13c-3.67-2.11-4.94-6.8-2.83-10.48 c2.11-3.67,6.8-4.94,10.48-2.83l17.1,9.88c3.67,2.11,4.94,6.8,2.83,10.48c-2.11,3.67-6.8,4.94-10.48,2.83L19.72,69.13L19.72,69.13z"
                ></path>
              </g>
            </g>
          </svg>
        </div>

        <div class="style-weather">Clear Sky</div>
        <%#> fog #%> <% } else if(weatherData.current.weather_code===45 ||
        weatherData.current.weather_code===48){%>
        <div class="symbol-weather">
          <svg
            width="64px"
            height="64px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M22 12.3529C22 13.7432 21.4916 15.0161 20.6486 16M14.381 7.02721C14.9767 6.81911 15.6178 6.70588 16.2857 6.70588C16.9404 6.70588 17.5693 6.81468 18.1551 7.01498M7.11616 9.60887C6.8475 9.55673 6.56983 9.52941 6.28571 9.52941C3.91878 9.52941 2 11.4256 2 13.7647C2 14.5852 2.2361 15.3512 2.64482 16M7.11616 9.60887C6.88706 8.9978 6.7619 8.33687 6.7619 7.64706C6.7619 4.52827 9.32028 2 12.4762 2C15.4159 2 17.8371 4.19371 18.1551 7.01498M7.11616 9.60887C7.68059 9.71839 8.20528 9.9374 8.66667 10.2426M18.1551 7.01498C18.8381 7.24853 19.4623 7.60648 20 8.06141"
                stroke="#ffffff"
                stroke-width="1.5"
                stroke-linecap="round"
              ></path>
              <path
                d="M8 22H16"
                stroke="#ffffff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M5 19H11M19 19H15"
                stroke="#ffffff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M2 16H22"
                stroke="#ffffff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
        </div>

        <div class="style-weather">Dense Fog</div>
        <%# drizzle #%> <% } else if(weatherData.current.weather_code===51 ||
        weatherData.current.weather_code===53 ||
        weatherData.current.weather_code===55 ||
        weatherData.current.weather_code===56 ||
        weatherData.current.weather_code===57) {%>
        <div class="symbol-weather">
          <svg
            fill="#ffffff"
            width="64px"
            height="64px"
            viewBox="0 0 32 32"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <title>cloud-drizzle</title>
              <path
                d="M29.135 10.075c-0.865-1.165-2.159-1.968-3.645-2.174l-0.029-0.003c0.145-0.342 0.229-0.74 0.229-1.157 0-0.045-0.001-0.090-0.003-0.135l0 0.006c-0.060-0.894-0.451-1.687-1.050-2.267l-0.001-0.001c-0.813-0.817-1.939-1.323-3.183-1.323-0.889 0-1.718 0.258-2.415 0.704l0.018-0.011c-2.52-3.159-7.256-3.053-10.657-0.989-2.056 0.998-3.449 3.071-3.449 5.469 0 0.643 0.1 1.263 0.286 1.845l-0.012-0.043c-2.332 0.765-3.986 2.923-3.986 5.466 0 0.125 0.004 0.248 0.012 0.371l-0.001-0.017c-0.001 0.039-0.002 0.086-0.002 0.132 0 1.261 0.403 2.428 1.088 3.378l-0.012-0.017c0.764 1.004 1.959 1.646 3.305 1.646 0.043 0 0.086-0.001 0.129-0.002l-0.006 0 20.28-0.008c1.932-0.227 3.52-1.496 4.201-3.223l0.012-0.035c0.316-0.828 0.499-1.786 0.499-2.787 0-1.82-0.605-3.499-1.624-4.846l0.015 0.020zM28.857 17.12c-0.471 1.245-1.574 2.151-2.907 2.331l-0.019 0.002h-20.179c-0.034 0.002-0.074 0.002-0.115 0.002-0.863 0-1.629-0.411-2.114-1.049l-0.005-0.007c-0.483-0.684-0.772-1.535-0.772-2.453 0-0.046 0.001-0.093 0.002-0.139l-0 0.007c-0.015-0.13-0.023-0.28-0.023-0.432 0-2.089 1.587-3.807 3.62-4.016l0.017-0.001c0.414-0 0.75-0.336 0.75-0.75 0-0.144-0.040-0.278-0.11-0.392l0.002 0.003c-1.604-2.643 0.070-4.946 2.172-6.221 1.248-0.775 2.757-1.242 4.374-1.265l0.006-0c0.075-0.004 0.163-0.006 0.251-0.006 1.866 0 3.505 0.971 4.44 2.435l0.013 0.021c0.134 0.218 0.371 0.361 0.641 0.361 0.206 0 0.392-0.083 0.527-0.217l-0 0c0.525-0.515 1.246-0.833 2.040-0.833 0.825 0 1.571 0.343 2.101 0.894l0.001 0.001c0.379 0.325 0.618 0.804 0.618 1.34 0 0.558-0.26 1.056-0.665 1.378l-0.004 0.003c-0.137 0.136-0.222 0.325-0.222 0.533 0 0.414 0.336 0.75 0.75 0.75 0.036 0 0.071-0.002 0.105-0.007l-0.004 0c0.177-0.028 0.381-0.044 0.589-0.044 1.316 0 2.482 0.642 3.202 1.63l0.008 0.011c0.808 1.078 1.293 2.438 1.293 3.911 0 0.794-0.141 1.556-0.4 2.26l0.015-0.046zM6 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM16 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM26 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM11 26.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM21 26.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0z"
              ></path>
            </g>
          </svg>
        </div>

        <div class="style-weather">Drizzle</div>
        <%# Rain #%> <% } else if(weatherData.current.weather_code===61 ||
        weatherData.current.weather_code===63 ||
        weatherData.current.weather_code===65 ||
        weatherData.current.weather_code===66 ||
        weatherData.current.weather_code===67 ||
        weatherData.current.weather_code===80 ||
        weatherData.current.weather_code===81 ||
        weatherData.current.weather_code===82) {%>
        <div class="symbol-weather">
          <svg
            width="64px"
            height="64px"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M6.316 21H5.212l.935-2h1.105zm2.065 2l1.871-4H9.147l-1.87 4zm3.468-1l1.403-3h-1.105l-1.403 3zm3.298-3l-2.338 5h1.104l2.339-5zm2.065 2h1.104l.936-2h-1.105zM23 13.187a4.805 4.805 0 0 0-3.05-4.468 5.41 5.41 0 0 0-6.6-3.519c.012.02.028.035.039.054a2.474 2.474 0 0 1 .286.89 4.428 4.428 0 0 1 5.327 2.899l.15.436.43.17A3.807 3.807 0 0 1 18.187 17H5.438a2.432 2.432 0 0 1-.67-4.772l.063-1.042A3.434 3.434 0 0 0 5.437 18h12.75A4.813 4.813 0 0 0 23 13.187zM6.968 9H2.94l2.326-8h6.087L8.255 6h3.837l-5.52 9.475zm1.064-1l-.204 3.334L10.352 7H6.46l3.098-5h-3.54L4.272 8z"
              ></path>
              <path fill="none" d="M0 0h24v24H0z"></path>
            </g>
          </svg>
        </div>

        <div class="style-weather">Rain</div>
        <%# snow #%> <% } else if(weatherData.current.weather_code===71 ||
        weatherData.current.weather_code===73 ||
        weatherData.current.weather_code===75 ||
        weatherData.current.weather_code===77 ||
        weatherData.current.weather_code===85 ||
        weatherData.current.weather_code===86) {%>
        <div class="symbol-weather">
          <svg
            width="64px"
            height="64px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M13 2C13 1.44772 12.5523 1 12 1C11.4477 1 11 1.44772 11 2V2.58579L10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289C8.90237 2.68342 8.90237 3.31658 9.29289 3.70711L11 5.41421V9.58579L8.05023 6.63602V4.22192C8.05023 3.66964 7.60252 3.22192 7.05023 3.22192C6.49795 3.22192 6.05023 3.66964 6.05023 4.22192V4.63602L5.63606 4.22185C5.24554 3.83132 4.61237 3.83132 4.22185 4.22185C3.83132 4.61237 3.83132 5.24554 4.22185 5.63606L4.63608 6.05029H4.2218C3.66952 6.05029 3.2218 6.49801 3.2218 7.05029C3.2218 7.60258 3.66952 8.05029 4.2218 8.05029H6.63608L9.58579 11H5.41421L3.70711 9.29289C3.31658 8.90237 2.68342 8.90237 2.29289 9.29289C1.90237 9.68342 1.90237 10.3166 2.29289 10.7071L2.58579 11H2C1.44772 11 1 11.4477 1 12C1 12.5523 1.44772 13 2 13H2.58579L2.29289 13.2929C1.90237 13.6834 1.90237 14.3166 2.29289 14.7071C2.68342 15.0976 3.31658 15.0976 3.70711 14.7071L5.41421 13H9.58579L6.63608 15.9497H4.2218C3.66952 15.9497 3.2218 16.3974 3.2218 16.9497C3.2218 17.502 3.66952 17.9497 4.2218 17.9497H4.63608L4.2218 18.364C3.83128 18.7545 3.83128 19.3877 4.2218 19.7782C4.61233 20.1687 5.24549 20.1687 5.63602 19.7782L6.05023 19.364V19.7781C6.05023 20.3304 6.49795 20.7781 7.05023 20.7781C7.60252 20.7781 8.05023 20.3304 8.05023 19.7781V17.364L11 14.4142V18.5858L9.29289 20.2929C8.90237 20.6834 8.90237 21.3166 9.29289 21.7071C9.68342 22.0976 10.3166 22.0976 10.7071 21.7071L11 21.4142V22C11 22.5523 11.4477 23 12 23C12.5523 23 13 22.5523 13 22V21.4142L13.2929 21.7071C13.6834 22.0976 14.3166 22.0976 14.7071 21.7071C15.0976 21.3166 15.0976 20.6834 14.7071 20.2929L13 18.5858V14.4142L15.9498 17.364V19.7781C15.9498 20.3304 16.3975 20.7781 16.9498 20.7781C17.5021 20.7781 17.9498 20.3304 17.9498 19.7781V19.364L18.364 19.7782C18.7545 20.1687 19.3877 20.1687 19.7782 19.7782C20.1687 19.3877 20.1687 18.7545 19.7782 18.364L19.3639 17.9497H19.7782C20.3305 17.9497 20.7782 17.502 20.7782 16.9497C20.7782 16.3974 20.3305 15.9497 19.7782 15.9497H17.3639L14.4142 13H18.5858L20.2929 14.7071C20.6834 15.0976 21.3166 15.0976 21.7071 14.7071C22.0976 14.3166 22.0976 13.6834 21.7071 13.2929L21.4142 13H22C22.5523 13 23 12.5523 23 12C23 11.4477 22.5523 11 22 11H21.4142L21.7071 10.7071C22.0976 10.3166 22.0976 9.68342 21.7071 9.29289C21.3166 8.90237 20.6834 8.90237 20.2929 9.29289L18.5858 11H14.4142L17.3639 8.05029H19.7782C20.3305 8.05029 20.7782 7.60258 20.7782 7.05029C20.7782 6.49801 20.3305 6.05029 19.7782 6.05029H19.3639L19.7782 5.63606C20.1687 5.24554 20.1687 4.61237 19.7782 4.22185C19.3876 3.83132 18.7545 3.83132 18.3639 4.22185L17.9498 4.63602V4.22192C17.9498 3.66964 17.5021 3.22192 16.9498 3.22192C16.3975 3.22192 15.9498 3.66964 15.9498 4.22192V6.63602L13 9.58579V5.41421L14.7071 3.70711C15.0976 3.31658 15.0976 2.68342 14.7071 2.29289C14.3166 1.90237 13.6834 1.90237 13.2929 2.29289L13 2.58579V2Z"
                fill="#ffffff"
              ></path>
            </g>
          </svg>
        </div>

        <div class="style-weather">Snow</div>
        <%# Thunderstorm #%> <% } else {%>
        <div class="symbol-weather">
          <svg
            width="64px"
            height="64px"
            viewBox="0 0 24 24"
            version="1.1"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <style type="text/css">
                .st0 {
                  opacity: 0.2;
                  fill: none;
                  stroke: #000000;
                  stroke-width: 5e-2;
                  stroke-miterlimit: 10;
                }
                .st1 {
                  fill: none;
                  stroke: #000000;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <g id="Layer_1"></g>
              <g id="Layer_2">
                <g>
                  <path
                    d="M7,18c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C7.5,17.9,7.3,18,7,18z"
                  ></path>
                </g>
                <g>
                  <path
                    d="M12,18c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C12.5,17.9,12.3,18,12,18z"
                  ></path>
                </g>
                <g>
                  <path
                    d="M14,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C14.5,21.9,14.3,22,14,22z"
                  ></path>
                </g>
                <g>
                  <path
                    d="M9,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C9.5,21.9,9.3,22,9,22z"
                  ></path>
                </g>
                <g>
                  <path
                    d="M4,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C4.5,21.9,4.3,22,4,22z"
                  ></path>
                </g>
                <path
                  d="M20.9,2.5C20.7,2.2,20.4,2,20,2h-6c-0.5,0-0.9,0.3-1,0.8l-0.7,2.7c0,0-0.1,0-0.1-0.1c0,0,0,0-0.1,0 c-0.2-0.1-0.4-0.2-0.7-0.2c-0.3-0.1-0.6-0.1-1-0.1C8.4,5,6.7,6.5,6.3,8.6H5.4c-1.3,0-2.6,0.8-3.1,2.2C2.1,11.2,2,11.7,2,12.2v0.1 c0,0.3,0,0.6,0.1,0.9c0.3,1.4,1.3,2.4,2.6,2.7C4.9,16,5.1,16,5.4,16c0.6,0,1-0.4,1-1s-0.4-1-1-1c-0.1,0-0.2,0-0.3,0 c-0.5-0.1-0.9-0.6-1.1-1.2C4,12.6,4,12.5,4,12.3v-0.1c0-0.3,0.1-0.5,0.1-0.7c0.2-0.6,0.7-0.9,1.3-0.9h1.8c0.6,0,1-0.4,1-1 c0-1.4,1-2.6,2.3-2.6c0.2,0,0.4,0,0.5,0.1c0.1,0,0.3,0.1,0.4,0.1c0,0,0.1,0,0.1,0c0.1,0,0.1,0.1,0.2,0.1c0.7,0.5,1.2,1.3,1.2,2.3 c0,0.1,0,0.2,0.1,0.3l-0.8,1.6c-0.2,0.4-0.1,0.9,0.2,1.2c0.2,0.2,0.4,0.3,0.7,0.3c0.2,0,0.4-0.1,0.6-0.2l2.9-1.9 c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0,0.1,0.1,0.1c0.2,0.3,0.3,0.6,0.3,0.9v0.1c0,0.2,0,0.3-0.1,0.5c-0.1,0.5-0.5,0.9-0.9,1.1 C15.9,14,15.7,14,15.6,14c-0.6,0-1,0.4-1,1s0.4,1,1,1c0.4,0,0.8-0.1,1.1-0.2c1-0.4,1.8-1.3,2.1-2.5c0.1-0.3,0.1-0.7,0.1-1v-0.1 c0-0.7-0.2-1.4-0.5-1.9c-0.1-0.1-0.1-0.2-0.2-0.3c0-0.1-0.1-0.1-0.2-0.2l1.4-1C20,8.6,20.1,8,19.9,7.6l-0.7-1.5l1.7-2.5 C21,3.2,21.1,2.9,20.9,2.5z M17.2,5.4c-0.2,0.3-0.2,0.7-0.1,1l0.6,1.2l-2.1,1.4l0.3-0.6c0.2-0.5,0-1.1-0.4-1.3l-1.3-0.6L14.8,4h3.4 L17.2,5.4z"
                ></path>
              </g>
            </g>
          </svg>
        </div>

        <div class="style-weather">Thunderstorm</div>
        <% } %>
      </div>
      <%# END temperature-area #%>

      <div class="temperature-detail">
        <div class="detail-card box-blur">
          <div class="detail-title">
            <svg
              fill="#ffffff"
              height="32px"
              width="32px"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 328.611 328.611"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    d="M209.306,50.798c-2.452-3.337-7.147-4.055-10.485-1.602c-3.338,2.453-4.055,7.147-1.603,10.485 c54.576,74.266,66.032,123.541,66.032,151.8c0,27.691-8.272,52.794-23.293,70.685c-17.519,20.866-42.972,31.446-75.651,31.446 c-73.031,0-98.944-55.018-98.944-102.131c0-52.227,28.103-103.234,51.679-136.829c25.858-36.847,52.11-61.415,52.37-61.657 c3.035-2.819,3.209-7.565,0.39-10.6c-2.819-3.034-7.565-3.209-10.599-0.39c-1.11,1.031-27.497,25.698-54.254,63.765 c-24.901,35.428-54.586,89.465-54.586,145.71c0,31.062,9.673,59.599,27.236,80.353c20.361,24.061,50.345,36.779,86.708,36.779 c36.794,0,66.926-12.726,87.139-36.801c17.286-20.588,26.806-49.117,26.806-80.33C278.25,156.216,240.758,93.597,209.306,50.798z"
                  ></path>
                  <path
                    d="M198.43,148.146l-95.162,95.162c-2.929,2.929-2.929,7.678,0,10.606c1.465,1.464,3.385,2.197,5.304,2.197 s3.839-0.732,5.304-2.197l95.162-95.162c2.929-2.929,2.929-7.678,0-10.606C206.107,145.217,201.359,145.217,198.43,148.146z"
                  ></path>
                  <path
                    d="M191.965,207.899c-13.292,0-24.106,10.814-24.106,24.106s10.814,24.106,24.106,24.106s24.106-10.814,24.106-24.106 S205.257,207.899,191.965,207.899z M191.965,241.111c-5.021,0-9.106-4.085-9.106-9.106s4.085-9.106,9.106-9.106 s9.106,4.085,9.106,9.106S196.986,241.111,191.965,241.111z"
                  ></path>
                  <path
                    d="M125.178,194.162c13.292,0,24.106-10.814,24.106-24.106s-10.814-24.106-24.106-24.106s-24.106,10.814-24.106,24.106 S111.886,194.162,125.178,194.162z M125.178,160.949c5.021,0,9.106,4.085,9.106,9.106s-4.085,9.106-9.106,9.106 c-5.021,0-9.106-4.085-9.106-9.106S120.156,160.949,125.178,160.949z"
                  ></path>
                </g>
              </g>
            </svg>
            Humidity
          </div>

          <div class="detial-value">
            <%= weatherData.current.relative_humidity_2m %> <%=
            weatherData.current_units.relative_humidity_2m %>
          </div>
        </div>
        <%# END detail-card #%>

        <div class="detail-card box-blur">
          <div class="detail-title">
            <svg
              width="32px"
              height="32px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M6.25 5.5C6.25 3.70508 7.70507 2.25 9.5 2.25C11.2949 2.25 12.75 3.70507 12.75 5.5C12.75 7.29493 11.2949 8.75 9.5 8.75H3C2.58579 8.75 2.25 8.41421 2.25 8C2.25 7.58579 2.58579 7.25 3 7.25H9.5C10.4665 7.25 11.25 6.4665 11.25 5.5C11.25 4.5335 10.4665 3.75 9.5 3.75C8.5335 3.75 7.75 4.5335 7.75 5.5V5.85714C7.75 6.27136 7.41421 6.60714 7 6.60714C6.58579 6.60714 6.25 6.27136 6.25 5.85714V5.5ZM14.25 7.5C14.25 5.15279 16.1528 3.25 18.5 3.25C20.8472 3.25 22.75 5.15279 22.75 7.5C22.75 9.84721 20.8472 11.75 18.5 11.75H2C1.58579 11.75 1.25 11.4142 1.25 11C1.25 10.5858 1.58579 10.25 2 10.25H18.5C20.0188 10.25 21.25 9.01878 21.25 7.5C21.25 5.98122 20.0188 4.75 18.5 4.75C16.9812 4.75 15.75 5.98122 15.75 7.5V8C15.75 8.41421 15.4142 8.75 15 8.75C14.5858 8.75 14.25 8.41421 14.25 8V7.5ZM3.25 14C3.25 13.5858 3.58579 13.25 4 13.25H18.5C20.8472 13.25 22.75 15.1528 22.75 17.5C22.75 19.8472 20.8472 21.75 18.5 21.75C16.1528 21.75 14.25 19.8472 14.25 17.5V17C14.25 16.5858 14.5858 16.25 15 16.25C15.4142 16.25 15.75 16.5858 15.75 17V17.5C15.75 19.0188 16.9812 20.25 18.5 20.25C20.0188 20.25 21.25 19.0188 21.25 17.5C21.25 15.9812 20.0188 14.75 18.5 14.75H4C3.58579 14.75 3.25 14.4142 3.25 14Z"
                  fill="#ffffff"
                ></path>
              </g>
            </svg>
            Wind
          </div>

          <div class="detial-value">
            <%= weatherData.current.wind_speed_10m %> <%=
            weatherData.current_units.wind_speed_10m %>
          </div>
        </div>
        <%# END detail-card #%>

        <div class="detail-card box-blur">
          <div class="detail-title">
            <svg
              width="32px"
              height="32px"
              viewBox="-0.5 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M17.93 15.745H6.87C4.45 15.745 2.5 13.725 2.5 11.215C2.5 8.72503 4.45 6.68503 6.87 6.68503C7.4 6.68503 7.89999 6.77503 8.35999 6.95503C8.60999 7.04503 8.87001 6.95503 9.01001 6.73503C9.74001 5.49503 11.07 4.65503 12.59 4.65503C14.61 4.65503 16.28 6.11503 16.69 8.06503C16.75 8.33503 16.97 8.47504 17.24 8.41504C17.46 8.36504 17.69 8.34503 17.93 8.34503C19.91 8.34503 21.5 10.005 21.5 12.055C21.51 14.095 19.91 15.745 17.93 15.745Z"
                  stroke="#ffffff"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M10.51 20.345L12.01 17.745"
                  stroke="#ffffff"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M14.51 20.345L16.01 17.745"
                  stroke="#ffffff"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M6.51001 20.345L8.01001 17.745"
                  stroke="#ffffff"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
            Rain
          </div>

          <div class="detial-value">
            <%= weatherData.current.rain %> <%= weatherData.current_units.rain
            %>
          </div>
        </div>
        <%# END detail-card #%>

        <div class="detail-card box-blur">
          <div class="detail-title">
            <svg fill="#ffffff" height="32px" width="32px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M8.2,9.6c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L7.5,6.1c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L8.2,9.6 z"></path> <path d="M7,16c0-0.6-0.4-1-1-1H3c-0.6,0-1,0.4-1,1s0.4,1,1,1h3C6.6,17,7,16.6,7,16z"></path> <path d="M8.2,22.4l-2.1,2.1c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l2.1-2.1c0.4-0.4,0.4-1,0-1.4 S8.6,22,8.2,22.4z"></path> </g> <path d="M29.4,16.2c-0.4-0.2-0.9-0.1-1.2,0.3c-0.8,1-2,1.5-3.2,1.5c-2.3,0-4.3-1.9-4.3-4.3c0-1.6,0.9-3,2.3-3.8 c0.4-0.2,0.6-0.7,0.5-1.1C23.4,8.4,23,8,22.5,8c-0.1,0-0.3,0-0.4,0c-1.9,0-3.7,0.7-5.1,1.8V3c0-0.6-0.4-1-1-1s-1,0.4-1,1v5.1 c-3.9,0.5-7,3.9-7,7.9s3.1,7.4,7,7.9V29c0,0.6,0.4,1,1,1s1-0.4,1-1v-6.8c1.4,1.2,3.2,1.8,5.1,1.8c4,0,7.3-2.9,7.9-6.8 C30.1,16.8,29.8,16.3,29.4,16.2z M17,20c0,0.6-0.4,1-1,1s-1-0.4-1-1v-8c0-0.6,0.4-1,1-1s1,0.4,1,1V20z"></path> </g></svg>
            Day | Night
          </div>
          <% if(weatherData.current.is_day===1) { %>
          <div class="detial-value">Day</div>
          <% } else {%> <div class="detial-value">Night</div> <% } %>
        </div>
        <%# END detail-card #%>
      </div>
      <%# END temperature-detail #%>
    </div>
    <%# END cover-current-weather #%>

    <div id="forecast-weather">
      <div class="weather-day-by-day box-blur">
        <h3>
          <svg
            width="30px"
            height="30px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#000000"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M12 7V12H9M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
          3 DAYS
        </h3>

        <hr />

        <div class="list-weather-card">
          <div class="weather-card box-blur">
            <h2>
              <%= weatherData.daily.temperature_2m_max[0] %> <%=
              weatherData.daily_units.temperature_2m_max %>
            </h2>

            <% if(weatherData.daily.weather_code[0]===0 ||
            weatherData.daily.weather_code[0]===1 ||
            weatherData.daily.weather_code[0]===2 ||
            weatherData.daily.weather_code[0]===3) {%>
            <svg
              fill="#ffffff"
              width="64px"
              height="64px"
              viewBox="0 0 240 240"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="enable-background: new 0 0 240 240"
              xml:space="preserve"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    d="M58.57,25.81c-2.13-3.67-0.87-8.38,2.8-10.51c3.67-2.13,8.38-0.88,10.51,2.8l9.88,17.1c2.13,3.67,0.87,8.38-2.8,10.51 c-3.67,2.13-8.38,0.88-10.51-2.8L58.57,25.81L58.57,25.81z M120,51.17c19.01,0,36.21,7.7,48.67,20.16 C181.12,83.79,188.83,101,188.83,120c0,19.01-7.7,36.21-20.16,48.67c-12.46,12.46-29.66,20.16-48.67,20.16 c-19.01,0-36.21-7.7-48.67-20.16C58.88,156.21,51.17,139.01,51.17,120c0-19.01,7.7-36.21,20.16-48.67 C83.79,58.88,101,51.17,120,51.17L120,51.17z M158.27,81.73c-9.79-9.79-23.32-15.85-38.27-15.85c-14.95,0-28.48,6.06-38.27,15.85 c-9.79,9.79-15.85,23.32-15.85,38.27c0,14.95,6.06,28.48,15.85,38.27c9.79,9.79,23.32,15.85,38.27,15.85 c14.95,0,28.48-6.06,38.27-15.85c9.79-9.79,15.85-23.32,15.85-38.27C174.12,105.05,168.06,91.52,158.27,81.73L158.27,81.73z M113.88,7.71c0-4.26,3.45-7.71,7.71-7.71c4.26,0,7.71,3.45,7.71,7.71v19.75c0,4.26-3.45,7.71-7.71,7.71 c-4.26,0-7.71-3.45-7.71-7.71V7.71L113.88,7.71z M170.87,19.72c2.11-3.67,6.8-4.94,10.48-2.83c3.67,2.11,4.94,6.8,2.83,10.48 l-9.88,17.1c-2.11,3.67-6.8,4.94-10.48,2.83c-3.67-2.11-4.94-6.8-2.83-10.48L170.87,19.72L170.87,19.72z M214.19,58.57 c3.67-2.13,8.38-0.87,10.51,2.8c2.13,3.67,0.88,8.38-2.8,10.51l-17.1,9.88c-3.67,2.13-8.38,0.87-10.51-2.8 c-2.13-3.67-0.88-8.38,2.8-10.51L214.19,58.57L214.19,58.57z M232.29,113.88c4.26,0,7.71,3.45,7.71,7.71 c0,4.26-3.45,7.71-7.71,7.71h-19.75c-4.26,0-7.71-3.45-7.71-7.71c0-4.26,3.45-7.71,7.71-7.71H232.29L232.29,113.88z M220.28,170.87 c3.67,2.11,4.94,6.8,2.83,10.48c-2.11,3.67-6.8,4.94-10.48,2.83l-17.1-9.88c-3.67-2.11-4.94-6.8-2.83-10.48 c2.11-3.67,6.8-4.94,10.48-2.83L220.28,170.87L220.28,170.87z M181.43,214.19c2.13,3.67,0.87,8.38-2.8,10.51 c-3.67,2.13-8.38,0.88-10.51-2.8l-9.88-17.1c-2.13-3.67-0.87-8.38,2.8-10.51c3.67-2.13,8.38-0.88,10.51,2.8L181.43,214.19 L181.43,214.19z M126.12,232.29c0,4.26-3.45,7.71-7.71,7.71c-4.26,0-7.71-3.45-7.71-7.71v-19.75c0-4.26,3.45-7.71,7.71-7.71 c4.26,0,7.71,3.45,7.71,7.71V232.29L126.12,232.29z M69.13,220.28c-2.11,3.67-6.8,4.94-10.48,2.83c-3.67-2.11-4.94-6.8-2.83-10.48 l9.88-17.1c2.11-3.67,6.8-4.94,10.48-2.83c3.67,2.11,4.94,6.8,2.83,10.48L69.13,220.28L69.13,220.28z M25.81,181.43 c-3.67,2.13-8.38,0.87-10.51-2.8c-2.13-3.67-0.88-8.38,2.8-10.51l17.1-9.88c3.67-2.13,8.38-0.87,10.51,2.8 c2.13,3.67,0.88,8.38-2.8,10.51L25.81,181.43L25.81,181.43z M7.71,126.12c-4.26,0-7.71-3.45-7.71-7.71c0-4.26,3.45-7.71,7.71-7.71 h19.75c4.26,0,7.71,3.45,7.71,7.71c0,4.26-3.45,7.71-7.71,7.71H7.71L7.71,126.12z M19.72,69.13c-3.67-2.11-4.94-6.8-2.83-10.48 c2.11-3.67,6.8-4.94,10.48-2.83l17.1,9.88c3.67,2.11,4.94,6.8,2.83,10.48c-2.11,3.67-6.8,4.94-10.48,2.83L19.72,69.13L19.72,69.13z"
                  ></path>
                </g>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[0]===45 ||
            weatherData.daily.weather_code[0]===48){%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M22 12.3529C22 13.7432 21.4916 15.0161 20.6486 16M14.381 7.02721C14.9767 6.81911 15.6178 6.70588 16.2857 6.70588C16.9404 6.70588 17.5693 6.81468 18.1551 7.01498M7.11616 9.60887C6.8475 9.55673 6.56983 9.52941 6.28571 9.52941C3.91878 9.52941 2 11.4256 2 13.7647C2 14.5852 2.2361 15.3512 2.64482 16M7.11616 9.60887C6.88706 8.9978 6.7619 8.33687 6.7619 7.64706C6.7619 4.52827 9.32028 2 12.4762 2C15.4159 2 17.8371 4.19371 18.1551 7.01498M7.11616 9.60887C7.68059 9.71839 8.20528 9.9374 8.66667 10.2426M18.1551 7.01498C18.8381 7.24853 19.4623 7.60648 20 8.06141"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M8 22H16"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M5 19H11M19 19H15"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M2 16H22"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[0]===51 ||
            weatherData.daily.weather_code[0]===53 ||
            weatherData.daily.weather_code[0]===55 ||
            weatherData.daily.weather_code[0]===56 ||
            weatherData.daily.weather_code[0]===57) {%>
            <svg
              fill="#ffffff"
              width="64px"
              height="64px"
              viewBox="0 0 32 32"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <title>cloud-drizzle</title>
                <path
                  d="M29.135 10.075c-0.865-1.165-2.159-1.968-3.645-2.174l-0.029-0.003c0.145-0.342 0.229-0.74 0.229-1.157 0-0.045-0.001-0.090-0.003-0.135l0 0.006c-0.060-0.894-0.451-1.687-1.050-2.267l-0.001-0.001c-0.813-0.817-1.939-1.323-3.183-1.323-0.889 0-1.718 0.258-2.415 0.704l0.018-0.011c-2.52-3.159-7.256-3.053-10.657-0.989-2.056 0.998-3.449 3.071-3.449 5.469 0 0.643 0.1 1.263 0.286 1.845l-0.012-0.043c-2.332 0.765-3.986 2.923-3.986 5.466 0 0.125 0.004 0.248 0.012 0.371l-0.001-0.017c-0.001 0.039-0.002 0.086-0.002 0.132 0 1.261 0.403 2.428 1.088 3.378l-0.012-0.017c0.764 1.004 1.959 1.646 3.305 1.646 0.043 0 0.086-0.001 0.129-0.002l-0.006 0 20.28-0.008c1.932-0.227 3.52-1.496 4.201-3.223l0.012-0.035c0.316-0.828 0.499-1.786 0.499-2.787 0-1.82-0.605-3.499-1.624-4.846l0.015 0.020zM28.857 17.12c-0.471 1.245-1.574 2.151-2.907 2.331l-0.019 0.002h-20.179c-0.034 0.002-0.074 0.002-0.115 0.002-0.863 0-1.629-0.411-2.114-1.049l-0.005-0.007c-0.483-0.684-0.772-1.535-0.772-2.453 0-0.046 0.001-0.093 0.002-0.139l-0 0.007c-0.015-0.13-0.023-0.28-0.023-0.432 0-2.089 1.587-3.807 3.62-4.016l0.017-0.001c0.414-0 0.75-0.336 0.75-0.75 0-0.144-0.040-0.278-0.11-0.392l0.002 0.003c-1.604-2.643 0.070-4.946 2.172-6.221 1.248-0.775 2.757-1.242 4.374-1.265l0.006-0c0.075-0.004 0.163-0.006 0.251-0.006 1.866 0 3.505 0.971 4.44 2.435l0.013 0.021c0.134 0.218 0.371 0.361 0.641 0.361 0.206 0 0.392-0.083 0.527-0.217l-0 0c0.525-0.515 1.246-0.833 2.040-0.833 0.825 0 1.571 0.343 2.101 0.894l0.001 0.001c0.379 0.325 0.618 0.804 0.618 1.34 0 0.558-0.26 1.056-0.665 1.378l-0.004 0.003c-0.137 0.136-0.222 0.325-0.222 0.533 0 0.414 0.336 0.75 0.75 0.75 0.036 0 0.071-0.002 0.105-0.007l-0.004 0c0.177-0.028 0.381-0.044 0.589-0.044 1.316 0 2.482 0.642 3.202 1.63l0.008 0.011c0.808 1.078 1.293 2.438 1.293 3.911 0 0.794-0.141 1.556-0.4 2.26l0.015-0.046zM6 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM16 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM26 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM11 26.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM21 26.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0z"
                ></path>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[0]===61 ||
            weatherData.daily.weather_code[0]===63 ||
            weatherData.daily.weather_code[0]===65 ||
            weatherData.daily.weather_code[0]===66 ||
            weatherData.daily.weather_code[0]===67 ||
            weatherData.daily.weather_code[0]===80 ||
            weatherData.daily.weather_code[0]===81 ||
            weatherData.daily.weather_code[0]===82) {%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M6.316 21H5.212l.935-2h1.105zm2.065 2l1.871-4H9.147l-1.87 4zm3.468-1l1.403-3h-1.105l-1.403 3zm3.298-3l-2.338 5h1.104l2.339-5zm2.065 2h1.104l.936-2h-1.105zM23 13.187a4.805 4.805 0 0 0-3.05-4.468 5.41 5.41 0 0 0-6.6-3.519c.012.02.028.035.039.054a2.474 2.474 0 0 1 .286.89 4.428 4.428 0 0 1 5.327 2.899l.15.436.43.17A3.807 3.807 0 0 1 18.187 17H5.438a2.432 2.432 0 0 1-.67-4.772l.063-1.042A3.434 3.434 0 0 0 5.437 18h12.75A4.813 4.813 0 0 0 23 13.187zM6.968 9H2.94l2.326-8h6.087L8.255 6h3.837l-5.52 9.475zm1.064-1l-.204 3.334L10.352 7H6.46l3.098-5h-3.54L4.272 8z"
                ></path>
                <path fill="none" d="M0 0h24v24H0z"></path>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[0]===71 ||
            weatherData.daily.weather_code[0]===73 ||
            weatherData.daily.weather_code[0]===75 ||
            weatherData.daily.weather_code[0]===77 ||
            weatherData.daily.weather_code[0]===85 ||
            weatherData.daily.weather_code[0]===86) {%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M13 2C13 1.44772 12.5523 1 12 1C11.4477 1 11 1.44772 11 2V2.58579L10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289C8.90237 2.68342 8.90237 3.31658 9.29289 3.70711L11 5.41421V9.58579L8.05023 6.63602V4.22192C8.05023 3.66964 7.60252 3.22192 7.05023 3.22192C6.49795 3.22192 6.05023 3.66964 6.05023 4.22192V4.63602L5.63606 4.22185C5.24554 3.83132 4.61237 3.83132 4.22185 4.22185C3.83132 4.61237 3.83132 5.24554 4.22185 5.63606L4.63608 6.05029H4.2218C3.66952 6.05029 3.2218 6.49801 3.2218 7.05029C3.2218 7.60258 3.66952 8.05029 4.2218 8.05029H6.63608L9.58579 11H5.41421L3.70711 9.29289C3.31658 8.90237 2.68342 8.90237 2.29289 9.29289C1.90237 9.68342 1.90237 10.3166 2.29289 10.7071L2.58579 11H2C1.44772 11 1 11.4477 1 12C1 12.5523 1.44772 13 2 13H2.58579L2.29289 13.2929C1.90237 13.6834 1.90237 14.3166 2.29289 14.7071C2.68342 15.0976 3.31658 15.0976 3.70711 14.7071L5.41421 13H9.58579L6.63608 15.9497H4.2218C3.66952 15.9497 3.2218 16.3974 3.2218 16.9497C3.2218 17.502 3.66952 17.9497 4.2218 17.9497H4.63608L4.2218 18.364C3.83128 18.7545 3.83128 19.3877 4.2218 19.7782C4.61233 20.1687 5.24549 20.1687 5.63602 19.7782L6.05023 19.364V19.7781C6.05023 20.3304 6.49795 20.7781 7.05023 20.7781C7.60252 20.7781 8.05023 20.3304 8.05023 19.7781V17.364L11 14.4142V18.5858L9.29289 20.2929C8.90237 20.6834 8.90237 21.3166 9.29289 21.7071C9.68342 22.0976 10.3166 22.0976 10.7071 21.7071L11 21.4142V22C11 22.5523 11.4477 23 12 23C12.5523 23 13 22.5523 13 22V21.4142L13.2929 21.7071C13.6834 22.0976 14.3166 22.0976 14.7071 21.7071C15.0976 21.3166 15.0976 20.6834 14.7071 20.2929L13 18.5858V14.4142L15.9498 17.364V19.7781C15.9498 20.3304 16.3975 20.7781 16.9498 20.7781C17.5021 20.7781 17.9498 20.3304 17.9498 19.7781V19.364L18.364 19.7782C18.7545 20.1687 19.3877 20.1687 19.7782 19.7782C20.1687 19.3877 20.1687 18.7545 19.7782 18.364L19.3639 17.9497H19.7782C20.3305 17.9497 20.7782 17.502 20.7782 16.9497C20.7782 16.3974 20.3305 15.9497 19.7782 15.9497H17.3639L14.4142 13H18.5858L20.2929 14.7071C20.6834 15.0976 21.3166 15.0976 21.7071 14.7071C22.0976 14.3166 22.0976 13.6834 21.7071 13.2929L21.4142 13H22C22.5523 13 23 12.5523 23 12C23 11.4477 22.5523 11 22 11H21.4142L21.7071 10.7071C22.0976 10.3166 22.0976 9.68342 21.7071 9.29289C21.3166 8.90237 20.6834 8.90237 20.2929 9.29289L18.5858 11H14.4142L17.3639 8.05029H19.7782C20.3305 8.05029 20.7782 7.60258 20.7782 7.05029C20.7782 6.49801 20.3305 6.05029 19.7782 6.05029H19.3639L19.7782 5.63606C20.1687 5.24554 20.1687 4.61237 19.7782 4.22185C19.3876 3.83132 18.7545 3.83132 18.3639 4.22185L17.9498 4.63602V4.22192C17.9498 3.66964 17.5021 3.22192 16.9498 3.22192C16.3975 3.22192 15.9498 3.66964 15.9498 4.22192V6.63602L13 9.58579V5.41421L14.7071 3.70711C15.0976 3.31658 15.0976 2.68342 14.7071 2.29289C14.3166 1.90237 13.6834 1.90237 13.2929 2.29289L13 2.58579V2Z"
                  fill="#ffffff"
                ></path>
              </g>
            </svg>
            <% } else {%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <style type="text/css">
                  .st0 {
                    opacity: 0.2;
                    fill: none;
                    stroke: #000000;
                    stroke-width: 5e-2;
                    stroke-miterlimit: 10;
                  }
                  .st1 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }
                </style>
                <g id="Layer_1"></g>
                <g id="Layer_2">
                  <g>
                    <path
                      d="M7,18c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C7.5,17.9,7.3,18,7,18z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M12,18c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C12.5,17.9,12.3,18,12,18z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M14,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C14.5,21.9,14.3,22,14,22z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M9,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C9.5,21.9,9.3,22,9,22z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M4,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C4.5,21.9,4.3,22,4,22z"
                    ></path>
                  </g>
                  <path
                    d="M20.9,2.5C20.7,2.2,20.4,2,20,2h-6c-0.5,0-0.9,0.3-1,0.8l-0.7,2.7c0,0-0.1,0-0.1-0.1c0,0,0,0-0.1,0 c-0.2-0.1-0.4-0.2-0.7-0.2c-0.3-0.1-0.6-0.1-1-0.1C8.4,5,6.7,6.5,6.3,8.6H5.4c-1.3,0-2.6,0.8-3.1,2.2C2.1,11.2,2,11.7,2,12.2v0.1 c0,0.3,0,0.6,0.1,0.9c0.3,1.4,1.3,2.4,2.6,2.7C4.9,16,5.1,16,5.4,16c0.6,0,1-0.4,1-1s-0.4-1-1-1c-0.1,0-0.2,0-0.3,0 c-0.5-0.1-0.9-0.6-1.1-1.2C4,12.6,4,12.5,4,12.3v-0.1c0-0.3,0.1-0.5,0.1-0.7c0.2-0.6,0.7-0.9,1.3-0.9h1.8c0.6,0,1-0.4,1-1 c0-1.4,1-2.6,2.3-2.6c0.2,0,0.4,0,0.5,0.1c0.1,0,0.3,0.1,0.4,0.1c0,0,0.1,0,0.1,0c0.1,0,0.1,0.1,0.2,0.1c0.7,0.5,1.2,1.3,1.2,2.3 c0,0.1,0,0.2,0.1,0.3l-0.8,1.6c-0.2,0.4-0.1,0.9,0.2,1.2c0.2,0.2,0.4,0.3,0.7,0.3c0.2,0,0.4-0.1,0.6-0.2l2.9-1.9 c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0,0.1,0.1,0.1c0.2,0.3,0.3,0.6,0.3,0.9v0.1c0,0.2,0,0.3-0.1,0.5c-0.1,0.5-0.5,0.9-0.9,1.1 C15.9,14,15.7,14,15.6,14c-0.6,0-1,0.4-1,1s0.4,1,1,1c0.4,0,0.8-0.1,1.1-0.2c1-0.4,1.8-1.3,2.1-2.5c0.1-0.3,0.1-0.7,0.1-1v-0.1 c0-0.7-0.2-1.4-0.5-1.9c-0.1-0.1-0.1-0.2-0.2-0.3c0-0.1-0.1-0.1-0.2-0.2l1.4-1C20,8.6,20.1,8,19.9,7.6l-0.7-1.5l1.7-2.5 C21,3.2,21.1,2.9,20.9,2.5z M17.2,5.4c-0.2,0.3-0.2,0.7-0.1,1l0.6,1.2l-2.1,1.4l0.3-0.6c0.2-0.5,0-1.1-0.4-1.3l-1.3-0.6L14.8,4h3.4 L17.2,5.4z"
                  ></path>
                </g>
              </g>
            </svg>
            <% } %>
            <p><%= weatherData.daily.time[0] %></p>
          </div>

          <div class="weather-card box-blur">
            <h2>
              <%= weatherData.daily.temperature_2m_max[1] %> <%=
              weatherData.daily_units.temperature_2m_max %>
            </h2>

            <% if(weatherData.daily.weather_code[1]===0 ||
            weatherData.daily.weather_code[1]===1 ||
            weatherData.daily.weather_code[1]===2 ||
            weatherData.daily.weather_code[1]===3) {%>
            <svg
              fill="#ffffff"
              width="64px"
              height="64px"
              viewBox="0 0 240 240"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="enable-background: new 0 0 240 240"
              xml:space="preserve"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    d="M58.57,25.81c-2.13-3.67-0.87-8.38,2.8-10.51c3.67-2.13,8.38-0.88,10.51,2.8l9.88,17.1c2.13,3.67,0.87,8.38-2.8,10.51 c-3.67,2.13-8.38,0.88-10.51-2.8L58.57,25.81L58.57,25.81z M120,51.17c19.01,0,36.21,7.7,48.67,20.16 C181.12,83.79,188.83,101,188.83,120c0,19.01-7.7,36.21-20.16,48.67c-12.46,12.46-29.66,20.16-48.67,20.16 c-19.01,0-36.21-7.7-48.67-20.16C58.88,156.21,51.17,139.01,51.17,120c0-19.01,7.7-36.21,20.16-48.67 C83.79,58.88,101,51.17,120,51.17L120,51.17z M158.27,81.73c-9.79-9.79-23.32-15.85-38.27-15.85c-14.95,0-28.48,6.06-38.27,15.85 c-9.79,9.79-15.85,23.32-15.85,38.27c0,14.95,6.06,28.48,15.85,38.27c9.79,9.79,23.32,15.85,38.27,15.85 c14.95,0,28.48-6.06,38.27-15.85c9.79-9.79,15.85-23.32,15.85-38.27C174.12,105.05,168.06,91.52,158.27,81.73L158.27,81.73z M113.88,7.71c0-4.26,3.45-7.71,7.71-7.71c4.26,0,7.71,3.45,7.71,7.71v19.75c0,4.26-3.45,7.71-7.71,7.71 c-4.26,0-7.71-3.45-7.71-7.71V7.71L113.88,7.71z M170.87,19.72c2.11-3.67,6.8-4.94,10.48-2.83c3.67,2.11,4.94,6.8,2.83,10.48 l-9.88,17.1c-2.11,3.67-6.8,4.94-10.48,2.83c-3.67-2.11-4.94-6.8-2.83-10.48L170.87,19.72L170.87,19.72z M214.19,58.57 c3.67-2.13,8.38-0.87,10.51,2.8c2.13,3.67,0.88,8.38-2.8,10.51l-17.1,9.88c-3.67,2.13-8.38,0.87-10.51-2.8 c-2.13-3.67-0.88-8.38,2.8-10.51L214.19,58.57L214.19,58.57z M232.29,113.88c4.26,0,7.71,3.45,7.71,7.71 c0,4.26-3.45,7.71-7.71,7.71h-19.75c-4.26,0-7.71-3.45-7.71-7.71c0-4.26,3.45-7.71,7.71-7.71H232.29L232.29,113.88z M220.28,170.87 c3.67,2.11,4.94,6.8,2.83,10.48c-2.11,3.67-6.8,4.94-10.48,2.83l-17.1-9.88c-3.67-2.11-4.94-6.8-2.83-10.48 c2.11-3.67,6.8-4.94,10.48-2.83L220.28,170.87L220.28,170.87z M181.43,214.19c2.13,3.67,0.87,8.38-2.8,10.51 c-3.67,2.13-8.38,0.88-10.51-2.8l-9.88-17.1c-2.13-3.67-0.87-8.38,2.8-10.51c3.67-2.13,8.38-0.88,10.51,2.8L181.43,214.19 L181.43,214.19z M126.12,232.29c0,4.26-3.45,7.71-7.71,7.71c-4.26,0-7.71-3.45-7.71-7.71v-19.75c0-4.26,3.45-7.71,7.71-7.71 c4.26,0,7.71,3.45,7.71,7.71V232.29L126.12,232.29z M69.13,220.28c-2.11,3.67-6.8,4.94-10.48,2.83c-3.67-2.11-4.94-6.8-2.83-10.48 l9.88-17.1c2.11-3.67,6.8-4.94,10.48-2.83c3.67,2.11,4.94,6.8,2.83,10.48L69.13,220.28L69.13,220.28z M25.81,181.43 c-3.67,2.13-8.38,0.87-10.51-2.8c-2.13-3.67-0.88-8.38,2.8-10.51l17.1-9.88c3.67-2.13,8.38-0.87,10.51,2.8 c2.13,3.67,0.88,8.38-2.8,10.51L25.81,181.43L25.81,181.43z M7.71,126.12c-4.26,0-7.71-3.45-7.71-7.71c0-4.26,3.45-7.71,7.71-7.71 h19.75c4.26,0,7.71,3.45,7.71,7.71c0,4.26-3.45,7.71-7.71,7.71H7.71L7.71,126.12z M19.72,69.13c-3.67-2.11-4.94-6.8-2.83-10.48 c2.11-3.67,6.8-4.94,10.48-2.83l17.1,9.88c3.67,2.11,4.94,6.8,2.83,10.48c-2.11,3.67-6.8,4.94-10.48,2.83L19.72,69.13L19.72,69.13z"
                  ></path>
                </g>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[1]===45 ||
            weatherData.daily.weather_code[1]===48){%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M22 12.3529C22 13.7432 21.4916 15.0161 20.6486 16M14.381 7.02721C14.9767 6.81911 15.6178 6.70588 16.2857 6.70588C16.9404 6.70588 17.5693 6.81468 18.1551 7.01498M7.11616 9.60887C6.8475 9.55673 6.56983 9.52941 6.28571 9.52941C3.91878 9.52941 2 11.4256 2 13.7647C2 14.5852 2.2361 15.3512 2.64482 16M7.11616 9.60887C6.88706 8.9978 6.7619 8.33687 6.7619 7.64706C6.7619 4.52827 9.32028 2 12.4762 2C15.4159 2 17.8371 4.19371 18.1551 7.01498M7.11616 9.60887C7.68059 9.71839 8.20528 9.9374 8.66667 10.2426M18.1551 7.01498C18.8381 7.24853 19.4623 7.60648 20 8.06141"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M8 22H16"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M5 19H11M19 19H15"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M2 16H22"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[1]===51 ||
            weatherData.daily.weather_code[1]===53 ||
            weatherData.daily.weather_code[1]===55 ||
            weatherData.daily.weather_code[1]===56 ||
            weatherData.daily.weather_code[1]===57) {%>
            <svg
              fill="#ffffff"
              width="64px"
              height="64px"
              viewBox="0 0 32 32"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <title>cloud-drizzle</title>
                <path
                  d="M29.135 10.075c-0.865-1.165-2.159-1.968-3.645-2.174l-0.029-0.003c0.145-0.342 0.229-0.74 0.229-1.157 0-0.045-0.001-0.090-0.003-0.135l0 0.006c-0.060-0.894-0.451-1.687-1.050-2.267l-0.001-0.001c-0.813-0.817-1.939-1.323-3.183-1.323-0.889 0-1.718 0.258-2.415 0.704l0.018-0.011c-2.52-3.159-7.256-3.053-10.657-0.989-2.056 0.998-3.449 3.071-3.449 5.469 0 0.643 0.1 1.263 0.286 1.845l-0.012-0.043c-2.332 0.765-3.986 2.923-3.986 5.466 0 0.125 0.004 0.248 0.012 0.371l-0.001-0.017c-0.001 0.039-0.002 0.086-0.002 0.132 0 1.261 0.403 2.428 1.088 3.378l-0.012-0.017c0.764 1.004 1.959 1.646 3.305 1.646 0.043 0 0.086-0.001 0.129-0.002l-0.006 0 20.28-0.008c1.932-0.227 3.52-1.496 4.201-3.223l0.012-0.035c0.316-0.828 0.499-1.786 0.499-2.787 0-1.82-0.605-3.499-1.624-4.846l0.015 0.020zM28.857 17.12c-0.471 1.245-1.574 2.151-2.907 2.331l-0.019 0.002h-20.179c-0.034 0.002-0.074 0.002-0.115 0.002-0.863 0-1.629-0.411-2.114-1.049l-0.005-0.007c-0.483-0.684-0.772-1.535-0.772-2.453 0-0.046 0.001-0.093 0.002-0.139l-0 0.007c-0.015-0.13-0.023-0.28-0.023-0.432 0-2.089 1.587-3.807 3.62-4.016l0.017-0.001c0.414-0 0.75-0.336 0.75-0.75 0-0.144-0.040-0.278-0.11-0.392l0.002 0.003c-1.604-2.643 0.070-4.946 2.172-6.221 1.248-0.775 2.757-1.242 4.374-1.265l0.006-0c0.075-0.004 0.163-0.006 0.251-0.006 1.866 0 3.505 0.971 4.44 2.435l0.013 0.021c0.134 0.218 0.371 0.361 0.641 0.361 0.206 0 0.392-0.083 0.527-0.217l-0 0c0.525-0.515 1.246-0.833 2.040-0.833 0.825 0 1.571 0.343 2.101 0.894l0.001 0.001c0.379 0.325 0.618 0.804 0.618 1.34 0 0.558-0.26 1.056-0.665 1.378l-0.004 0.003c-0.137 0.136-0.222 0.325-0.222 0.533 0 0.414 0.336 0.75 0.75 0.75 0.036 0 0.071-0.002 0.105-0.007l-0.004 0c0.177-0.028 0.381-0.044 0.589-0.044 1.316 0 2.482 0.642 3.202 1.63l0.008 0.011c0.808 1.078 1.293 2.438 1.293 3.911 0 0.794-0.141 1.556-0.4 2.26l0.015-0.046zM6 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM16 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM26 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM11 26.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM21 26.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0z"
                ></path>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[1]===61 ||
            weatherData.daily.weather_code[1]===63 ||
            weatherData.daily.weather_code[1]===65 ||
            weatherData.daily.weather_code[1]===66 ||
            weatherData.daily.weather_code[1]===67 ||
            weatherData.daily.weather_code[1]===80 ||
            weatherData.daily.weather_code[1]===81 ||
            weatherData.daily.weather_code[1]===82) {%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M6.316 21H5.212l.935-2h1.105zm2.065 2l1.871-4H9.147l-1.87 4zm3.468-1l1.403-3h-1.105l-1.403 3zm3.298-3l-2.338 5h1.104l2.339-5zm2.065 2h1.104l.936-2h-1.105zM23 13.187a4.805 4.805 0 0 0-3.05-4.468 5.41 5.41 0 0 0-6.6-3.519c.012.02.028.035.039.054a2.474 2.474 0 0 1 .286.89 4.428 4.428 0 0 1 5.327 2.899l.15.436.43.17A3.807 3.807 0 0 1 18.187 17H5.438a2.432 2.432 0 0 1-.67-4.772l.063-1.042A3.434 3.434 0 0 0 5.437 18h12.75A4.813 4.813 0 0 0 23 13.187zM6.968 9H2.94l2.326-8h6.087L8.255 6h3.837l-5.52 9.475zm1.064-1l-.204 3.334L10.352 7H6.46l3.098-5h-3.54L4.272 8z"
                ></path>
                <path fill="none" d="M0 0h24v24H0z"></path>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[1]===71 ||
            weatherData.daily.weather_code[1]===73 ||
            weatherData.daily.weather_code[1]===75 ||
            weatherData.daily.weather_code[1]===77 ||
            weatherData.daily.weather_code[1]===85 ||
            weatherData.daily.weather_code[1]===86) {%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M13 2C13 1.44772 12.5523 1 12 1C11.4477 1 11 1.44772 11 2V2.58579L10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289C8.90237 2.68342 8.90237 3.31658 9.29289 3.70711L11 5.41421V9.58579L8.05023 6.63602V4.22192C8.05023 3.66964 7.60252 3.22192 7.05023 3.22192C6.49795 3.22192 6.05023 3.66964 6.05023 4.22192V4.63602L5.63606 4.22185C5.24554 3.83132 4.61237 3.83132 4.22185 4.22185C3.83132 4.61237 3.83132 5.24554 4.22185 5.63606L4.63608 6.05029H4.2218C3.66952 6.05029 3.2218 6.49801 3.2218 7.05029C3.2218 7.60258 3.66952 8.05029 4.2218 8.05029H6.63608L9.58579 11H5.41421L3.70711 9.29289C3.31658 8.90237 2.68342 8.90237 2.29289 9.29289C1.90237 9.68342 1.90237 10.3166 2.29289 10.7071L2.58579 11H2C1.44772 11 1 11.4477 1 12C1 12.5523 1.44772 13 2 13H2.58579L2.29289 13.2929C1.90237 13.6834 1.90237 14.3166 2.29289 14.7071C2.68342 15.0976 3.31658 15.0976 3.70711 14.7071L5.41421 13H9.58579L6.63608 15.9497H4.2218C3.66952 15.9497 3.2218 16.3974 3.2218 16.9497C3.2218 17.502 3.66952 17.9497 4.2218 17.9497H4.63608L4.2218 18.364C3.83128 18.7545 3.83128 19.3877 4.2218 19.7782C4.61233 20.1687 5.24549 20.1687 5.63602 19.7782L6.05023 19.364V19.7781C6.05023 20.3304 6.49795 20.7781 7.05023 20.7781C7.60252 20.7781 8.05023 20.3304 8.05023 19.7781V17.364L11 14.4142V18.5858L9.29289 20.2929C8.90237 20.6834 8.90237 21.3166 9.29289 21.7071C9.68342 22.0976 10.3166 22.0976 10.7071 21.7071L11 21.4142V22C11 22.5523 11.4477 23 12 23C12.5523 23 13 22.5523 13 22V21.4142L13.2929 21.7071C13.6834 22.0976 14.3166 22.0976 14.7071 21.7071C15.0976 21.3166 15.0976 20.6834 14.7071 20.2929L13 18.5858V14.4142L15.9498 17.364V19.7781C15.9498 20.3304 16.3975 20.7781 16.9498 20.7781C17.5021 20.7781 17.9498 20.3304 17.9498 19.7781V19.364L18.364 19.7782C18.7545 20.1687 19.3877 20.1687 19.7782 19.7782C20.1687 19.3877 20.1687 18.7545 19.7782 18.364L19.3639 17.9497H19.7782C20.3305 17.9497 20.7782 17.502 20.7782 16.9497C20.7782 16.3974 20.3305 15.9497 19.7782 15.9497H17.3639L14.4142 13H18.5858L20.2929 14.7071C20.6834 15.0976 21.3166 15.0976 21.7071 14.7071C22.0976 14.3166 22.0976 13.6834 21.7071 13.2929L21.4142 13H22C22.5523 13 23 12.5523 23 12C23 11.4477 22.5523 11 22 11H21.4142L21.7071 10.7071C22.0976 10.3166 22.0976 9.68342 21.7071 9.29289C21.3166 8.90237 20.6834 8.90237 20.2929 9.29289L18.5858 11H14.4142L17.3639 8.05029H19.7782C20.3305 8.05029 20.7782 7.60258 20.7782 7.05029C20.7782 6.49801 20.3305 6.05029 19.7782 6.05029H19.3639L19.7782 5.63606C20.1687 5.24554 20.1687 4.61237 19.7782 4.22185C19.3876 3.83132 18.7545 3.83132 18.3639 4.22185L17.9498 4.63602V4.22192C17.9498 3.66964 17.5021 3.22192 16.9498 3.22192C16.3975 3.22192 15.9498 3.66964 15.9498 4.22192V6.63602L13 9.58579V5.41421L14.7071 3.70711C15.0976 3.31658 15.0976 2.68342 14.7071 2.29289C14.3166 1.90237 13.6834 1.90237 13.2929 2.29289L13 2.58579V2Z"
                  fill="#ffffff"
                ></path>
              </g>
            </svg>
            <% } else {%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <style type="text/css">
                  .st0 {
                    opacity: 0.2;
                    fill: none;
                    stroke: #000000;
                    stroke-width: 5e-2;
                    stroke-miterlimit: 10;
                  }
                  .st1 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }
                </style>
                <g id="Layer_1"></g>
                <g id="Layer_2">
                  <g>
                    <path
                      d="M7,18c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C7.5,17.9,7.3,18,7,18z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M12,18c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C12.5,17.9,12.3,18,12,18z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M14,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C14.5,21.9,14.3,22,14,22z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M9,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C9.5,21.9,9.3,22,9,22z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M4,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C4.5,21.9,4.3,22,4,22z"
                    ></path>
                  </g>
                  <path
                    d="M20.9,2.5C20.7,2.2,20.4,2,20,2h-6c-0.5,0-0.9,0.3-1,0.8l-0.7,2.7c0,0-0.1,0-0.1-0.1c0,0,0,0-0.1,0 c-0.2-0.1-0.4-0.2-0.7-0.2c-0.3-0.1-0.6-0.1-1-0.1C8.4,5,6.7,6.5,6.3,8.6H5.4c-1.3,0-2.6,0.8-3.1,2.2C2.1,11.2,2,11.7,2,12.2v0.1 c0,0.3,0,0.6,0.1,0.9c0.3,1.4,1.3,2.4,2.6,2.7C4.9,16,5.1,16,5.4,16c0.6,0,1-0.4,1-1s-0.4-1-1-1c-0.1,0-0.2,0-0.3,0 c-0.5-0.1-0.9-0.6-1.1-1.2C4,12.6,4,12.5,4,12.3v-0.1c0-0.3,0.1-0.5,0.1-0.7c0.2-0.6,0.7-0.9,1.3-0.9h1.8c0.6,0,1-0.4,1-1 c0-1.4,1-2.6,2.3-2.6c0.2,0,0.4,0,0.5,0.1c0.1,0,0.3,0.1,0.4,0.1c0,0,0.1,0,0.1,0c0.1,0,0.1,0.1,0.2,0.1c0.7,0.5,1.2,1.3,1.2,2.3 c0,0.1,0,0.2,0.1,0.3l-0.8,1.6c-0.2,0.4-0.1,0.9,0.2,1.2c0.2,0.2,0.4,0.3,0.7,0.3c0.2,0,0.4-0.1,0.6-0.2l2.9-1.9 c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0,0.1,0.1,0.1c0.2,0.3,0.3,0.6,0.3,0.9v0.1c0,0.2,0,0.3-0.1,0.5c-0.1,0.5-0.5,0.9-0.9,1.1 C15.9,14,15.7,14,15.6,14c-0.6,0-1,0.4-1,1s0.4,1,1,1c0.4,0,0.8-0.1,1.1-0.2c1-0.4,1.8-1.3,2.1-2.5c0.1-0.3,0.1-0.7,0.1-1v-0.1 c0-0.7-0.2-1.4-0.5-1.9c-0.1-0.1-0.1-0.2-0.2-0.3c0-0.1-0.1-0.1-0.2-0.2l1.4-1C20,8.6,20.1,8,19.9,7.6l-0.7-1.5l1.7-2.5 C21,3.2,21.1,2.9,20.9,2.5z M17.2,5.4c-0.2,0.3-0.2,0.7-0.1,1l0.6,1.2l-2.1,1.4l0.3-0.6c0.2-0.5,0-1.1-0.4-1.3l-1.3-0.6L14.8,4h3.4 L17.2,5.4z"
                  ></path>
                </g>
              </g>
            </svg>
            <% } %>
            <p><%= weatherData.daily.time[1] %></p>
          </div>

          <div class="weather-card box-blur">
            <h2>
              <%= weatherData.daily.temperature_2m_max[2] %> <%=
              weatherData.daily_units.temperature_2m_max %>
            </h2>

            <% if(weatherData.daily.weather_code[2]===0 ||
            weatherData.daily.weather_code[2]===1 ||
            weatherData.daily.weather_code[2]===2 ||
            weatherData.daily.weather_code[2]===3) {%>
            <svg
              fill="#ffffff"
              width="64px"
              height="64px"
              viewBox="0 0 240 240"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="enable-background: new 0 0 240 240"
              xml:space="preserve"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    d="M58.57,25.81c-2.13-3.67-0.87-8.38,2.8-10.51c3.67-2.13,8.38-0.88,10.51,2.8l9.88,17.1c2.13,3.67,0.87,8.38-2.8,10.51 c-3.67,2.13-8.38,0.88-10.51-2.8L58.57,25.81L58.57,25.81z M120,51.17c19.01,0,36.21,7.7,48.67,20.16 C181.12,83.79,188.83,101,188.83,120c0,19.01-7.7,36.21-20.16,48.67c-12.46,12.46-29.66,20.16-48.67,20.16 c-19.01,0-36.21-7.7-48.67-20.16C58.88,156.21,51.17,139.01,51.17,120c0-19.01,7.7-36.21,20.16-48.67 C83.79,58.88,101,51.17,120,51.17L120,51.17z M158.27,81.73c-9.79-9.79-23.32-15.85-38.27-15.85c-14.95,0-28.48,6.06-38.27,15.85 c-9.79,9.79-15.85,23.32-15.85,38.27c0,14.95,6.06,28.48,15.85,38.27c9.79,9.79,23.32,15.85,38.27,15.85 c14.95,0,28.48-6.06,38.27-15.85c9.79-9.79,15.85-23.32,15.85-38.27C174.12,105.05,168.06,91.52,158.27,81.73L158.27,81.73z M113.88,7.71c0-4.26,3.45-7.71,7.71-7.71c4.26,0,7.71,3.45,7.71,7.71v19.75c0,4.26-3.45,7.71-7.71,7.71 c-4.26,0-7.71-3.45-7.71-7.71V7.71L113.88,7.71z M170.87,19.72c2.11-3.67,6.8-4.94,10.48-2.83c3.67,2.11,4.94,6.8,2.83,10.48 l-9.88,17.1c-2.11,3.67-6.8,4.94-10.48,2.83c-3.67-2.11-4.94-6.8-2.83-10.48L170.87,19.72L170.87,19.72z M214.19,58.57 c3.67-2.13,8.38-0.87,10.51,2.8c2.13,3.67,0.88,8.38-2.8,10.51l-17.1,9.88c-3.67,2.13-8.38,0.87-10.51-2.8 c-2.13-3.67-0.88-8.38,2.8-10.51L214.19,58.57L214.19,58.57z M232.29,113.88c4.26,0,7.71,3.45,7.71,7.71 c0,4.26-3.45,7.71-7.71,7.71h-19.75c-4.26,0-7.71-3.45-7.71-7.71c0-4.26,3.45-7.71,7.71-7.71H232.29L232.29,113.88z M220.28,170.87 c3.67,2.11,4.94,6.8,2.83,10.48c-2.11,3.67-6.8,4.94-10.48,2.83l-17.1-9.88c-3.67-2.11-4.94-6.8-2.83-10.48 c2.11-3.67,6.8-4.94,10.48-2.83L220.28,170.87L220.28,170.87z M181.43,214.19c2.13,3.67,0.87,8.38-2.8,10.51 c-3.67,2.13-8.38,0.88-10.51-2.8l-9.88-17.1c-2.13-3.67-0.87-8.38,2.8-10.51c3.67-2.13,8.38-0.88,10.51,2.8L181.43,214.19 L181.43,214.19z M126.12,232.29c0,4.26-3.45,7.71-7.71,7.71c-4.26,0-7.71-3.45-7.71-7.71v-19.75c0-4.26,3.45-7.71,7.71-7.71 c4.26,0,7.71,3.45,7.71,7.71V232.29L126.12,232.29z M69.13,220.28c-2.11,3.67-6.8,4.94-10.48,2.83c-3.67-2.11-4.94-6.8-2.83-10.48 l9.88-17.1c2.11-3.67,6.8-4.94,10.48-2.83c3.67,2.11,4.94,6.8,2.83,10.48L69.13,220.28L69.13,220.28z M25.81,181.43 c-3.67,2.13-8.38,0.87-10.51-2.8c-2.13-3.67-0.88-8.38,2.8-10.51l17.1-9.88c3.67-2.13,8.38-0.87,10.51,2.8 c2.13,3.67,0.88,8.38-2.8,10.51L25.81,181.43L25.81,181.43z M7.71,126.12c-4.26,0-7.71-3.45-7.71-7.71c0-4.26,3.45-7.71,7.71-7.71 h19.75c4.26,0,7.71,3.45,7.71,7.71c0,4.26-3.45,7.71-7.71,7.71H7.71L7.71,126.12z M19.72,69.13c-3.67-2.11-4.94-6.8-2.83-10.48 c2.11-3.67,6.8-4.94,10.48-2.83l17.1,9.88c3.67,2.11,4.94,6.8,2.83,10.48c-2.11,3.67-6.8,4.94-10.48,2.83L19.72,69.13L19.72,69.13z"
                  ></path>
                </g>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[2]===45 ||
            weatherData.daily.weather_code[2]===48){%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M22 12.3529C22 13.7432 21.4916 15.0161 20.6486 16M14.381 7.02721C14.9767 6.81911 15.6178 6.70588 16.2857 6.70588C16.9404 6.70588 17.5693 6.81468 18.1551 7.01498M7.11616 9.60887C6.8475 9.55673 6.56983 9.52941 6.28571 9.52941C3.91878 9.52941 2 11.4256 2 13.7647C2 14.5852 2.2361 15.3512 2.64482 16M7.11616 9.60887C6.88706 8.9978 6.7619 8.33687 6.7619 7.64706C6.7619 4.52827 9.32028 2 12.4762 2C15.4159 2 17.8371 4.19371 18.1551 7.01498M7.11616 9.60887C7.68059 9.71839 8.20528 9.9374 8.66667 10.2426M18.1551 7.01498C18.8381 7.24853 19.4623 7.60648 20 8.06141"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M8 22H16"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M5 19H11M19 19H15"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M2 16H22"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[2]===51 ||
            weatherData.daily.weather_code[2]===53 ||
            weatherData.daily.weather_code[2]===55 ||
            weatherData.daily.weather_code[2]===56 ||
            weatherData.daily.weather_code[2]===57) {%>
            <svg
              fill="#ffffff"
              width="64px"
              height="64px"
              viewBox="0 0 32 32"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <title>cloud-drizzle</title>
                <path
                  d="M29.135 10.075c-0.865-1.165-2.159-1.968-3.645-2.174l-0.029-0.003c0.145-0.342 0.229-0.74 0.229-1.157 0-0.045-0.001-0.090-0.003-0.135l0 0.006c-0.060-0.894-0.451-1.687-1.050-2.267l-0.001-0.001c-0.813-0.817-1.939-1.323-3.183-1.323-0.889 0-1.718 0.258-2.415 0.704l0.018-0.011c-2.52-3.159-7.256-3.053-10.657-0.989-2.056 0.998-3.449 3.071-3.449 5.469 0 0.643 0.1 1.263 0.286 1.845l-0.012-0.043c-2.332 0.765-3.986 2.923-3.986 5.466 0 0.125 0.004 0.248 0.012 0.371l-0.001-0.017c-0.001 0.039-0.002 0.086-0.002 0.132 0 1.261 0.403 2.428 1.088 3.378l-0.012-0.017c0.764 1.004 1.959 1.646 3.305 1.646 0.043 0 0.086-0.001 0.129-0.002l-0.006 0 20.28-0.008c1.932-0.227 3.52-1.496 4.201-3.223l0.012-0.035c0.316-0.828 0.499-1.786 0.499-2.787 0-1.82-0.605-3.499-1.624-4.846l0.015 0.020zM28.857 17.12c-0.471 1.245-1.574 2.151-2.907 2.331l-0.019 0.002h-20.179c-0.034 0.002-0.074 0.002-0.115 0.002-0.863 0-1.629-0.411-2.114-1.049l-0.005-0.007c-0.483-0.684-0.772-1.535-0.772-2.453 0-0.046 0.001-0.093 0.002-0.139l-0 0.007c-0.015-0.13-0.023-0.28-0.023-0.432 0-2.089 1.587-3.807 3.62-4.016l0.017-0.001c0.414-0 0.75-0.336 0.75-0.75 0-0.144-0.040-0.278-0.11-0.392l0.002 0.003c-1.604-2.643 0.070-4.946 2.172-6.221 1.248-0.775 2.757-1.242 4.374-1.265l0.006-0c0.075-0.004 0.163-0.006 0.251-0.006 1.866 0 3.505 0.971 4.44 2.435l0.013 0.021c0.134 0.218 0.371 0.361 0.641 0.361 0.206 0 0.392-0.083 0.527-0.217l-0 0c0.525-0.515 1.246-0.833 2.040-0.833 0.825 0 1.571 0.343 2.101 0.894l0.001 0.001c0.379 0.325 0.618 0.804 0.618 1.34 0 0.558-0.26 1.056-0.665 1.378l-0.004 0.003c-0.137 0.136-0.222 0.325-0.222 0.533 0 0.414 0.336 0.75 0.75 0.75 0.036 0 0.071-0.002 0.105-0.007l-0.004 0c0.177-0.028 0.381-0.044 0.589-0.044 1.316 0 2.482 0.642 3.202 1.63l0.008 0.011c0.808 1.078 1.293 2.438 1.293 3.911 0 0.794-0.141 1.556-0.4 2.26l0.015-0.046zM6 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM16 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM26 23.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM11 26.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0zM21 26.25c-0.414 0-0.75 0.336-0.75 0.75v0 3c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-3c-0-0.414-0.336-0.75-0.75-0.75v0z"
                ></path>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[2]===61 ||
            weatherData.daily.weather_code[2]===63 ||
            weatherData.daily.weather_code[2]===65 ||
            weatherData.daily.weather_code[2]===66 ||
            weatherData.daily.weather_code[2]===67 ||
            weatherData.daily.weather_code[2]===80 ||
            weatherData.daily.weather_code[2]===81 ||
            weatherData.daily.weather_code[2]===82) {%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M6.316 21H5.212l.935-2h1.105zm2.065 2l1.871-4H9.147l-1.87 4zm3.468-1l1.403-3h-1.105l-1.403 3zm3.298-3l-2.338 5h1.104l2.339-5zm2.065 2h1.104l.936-2h-1.105zM23 13.187a4.805 4.805 0 0 0-3.05-4.468 5.41 5.41 0 0 0-6.6-3.519c.012.02.028.035.039.054a2.474 2.474 0 0 1 .286.89 4.428 4.428 0 0 1 5.327 2.899l.15.436.43.17A3.807 3.807 0 0 1 18.187 17H5.438a2.432 2.432 0 0 1-.67-4.772l.063-1.042A3.434 3.434 0 0 0 5.437 18h12.75A4.813 4.813 0 0 0 23 13.187zM6.968 9H2.94l2.326-8h6.087L8.255 6h3.837l-5.52 9.475zm1.064-1l-.204 3.334L10.352 7H6.46l3.098-5h-3.54L4.272 8z"
                ></path>
                <path fill="none" d="M0 0h24v24H0z"></path>
              </g>
            </svg>
            <% } else if(weatherData.daily.weather_code[2]===71 ||
            weatherData.daily.weather_code[2]===73 ||
            weatherData.daily.weather_code[2]===75 ||
            weatherData.daily.weather_code[2]===77 ||
            weatherData.daily.weather_code[2]===85 ||
            weatherData.daily.weather_code[2]===86) {%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M13 2C13 1.44772 12.5523 1 12 1C11.4477 1 11 1.44772 11 2V2.58579L10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289C8.90237 2.68342 8.90237 3.31658 9.29289 3.70711L11 5.41421V9.58579L8.05023 6.63602V4.22192C8.05023 3.66964 7.60252 3.22192 7.05023 3.22192C6.49795 3.22192 6.05023 3.66964 6.05023 4.22192V4.63602L5.63606 4.22185C5.24554 3.83132 4.61237 3.83132 4.22185 4.22185C3.83132 4.61237 3.83132 5.24554 4.22185 5.63606L4.63608 6.05029H4.2218C3.66952 6.05029 3.2218 6.49801 3.2218 7.05029C3.2218 7.60258 3.66952 8.05029 4.2218 8.05029H6.63608L9.58579 11H5.41421L3.70711 9.29289C3.31658 8.90237 2.68342 8.90237 2.29289 9.29289C1.90237 9.68342 1.90237 10.3166 2.29289 10.7071L2.58579 11H2C1.44772 11 1 11.4477 1 12C1 12.5523 1.44772 13 2 13H2.58579L2.29289 13.2929C1.90237 13.6834 1.90237 14.3166 2.29289 14.7071C2.68342 15.0976 3.31658 15.0976 3.70711 14.7071L5.41421 13H9.58579L6.63608 15.9497H4.2218C3.66952 15.9497 3.2218 16.3974 3.2218 16.9497C3.2218 17.502 3.66952 17.9497 4.2218 17.9497H4.63608L4.2218 18.364C3.83128 18.7545 3.83128 19.3877 4.2218 19.7782C4.61233 20.1687 5.24549 20.1687 5.63602 19.7782L6.05023 19.364V19.7781C6.05023 20.3304 6.49795 20.7781 7.05023 20.7781C7.60252 20.7781 8.05023 20.3304 8.05023 19.7781V17.364L11 14.4142V18.5858L9.29289 20.2929C8.90237 20.6834 8.90237 21.3166 9.29289 21.7071C9.68342 22.0976 10.3166 22.0976 10.7071 21.7071L11 21.4142V22C11 22.5523 11.4477 23 12 23C12.5523 23 13 22.5523 13 22V21.4142L13.2929 21.7071C13.6834 22.0976 14.3166 22.0976 14.7071 21.7071C15.0976 21.3166 15.0976 20.6834 14.7071 20.2929L13 18.5858V14.4142L15.9498 17.364V19.7781C15.9498 20.3304 16.3975 20.7781 16.9498 20.7781C17.5021 20.7781 17.9498 20.3304 17.9498 19.7781V19.364L18.364 19.7782C18.7545 20.1687 19.3877 20.1687 19.7782 19.7782C20.1687 19.3877 20.1687 18.7545 19.7782 18.364L19.3639 17.9497H19.7782C20.3305 17.9497 20.7782 17.502 20.7782 16.9497C20.7782 16.3974 20.3305 15.9497 19.7782 15.9497H17.3639L14.4142 13H18.5858L20.2929 14.7071C20.6834 15.0976 21.3166 15.0976 21.7071 14.7071C22.0976 14.3166 22.0976 13.6834 21.7071 13.2929L21.4142 13H22C22.5523 13 23 12.5523 23 12C23 11.4477 22.5523 11 22 11H21.4142L21.7071 10.7071C22.0976 10.3166 22.0976 9.68342 21.7071 9.29289C21.3166 8.90237 20.6834 8.90237 20.2929 9.29289L18.5858 11H14.4142L17.3639 8.05029H19.7782C20.3305 8.05029 20.7782 7.60258 20.7782 7.05029C20.7782 6.49801 20.3305 6.05029 19.7782 6.05029H19.3639L19.7782 5.63606C20.1687 5.24554 20.1687 4.61237 19.7782 4.22185C19.3876 3.83132 18.7545 3.83132 18.3639 4.22185L17.9498 4.63602V4.22192C17.9498 3.66964 17.5021 3.22192 16.9498 3.22192C16.3975 3.22192 15.9498 3.66964 15.9498 4.22192V6.63602L13 9.58579V5.41421L14.7071 3.70711C15.0976 3.31658 15.0976 2.68342 14.7071 2.29289C14.3166 1.90237 13.6834 1.90237 13.2929 2.29289L13 2.58579V2Z"
                  fill="#ffffff"
                ></path>
              </g>
            </svg>
            <% } else {%>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <style type="text/css">
                  .st0 {
                    opacity: 0.2;
                    fill: none;
                    stroke: #000000;
                    stroke-width: 5e-2;
                    stroke-miterlimit: 10;
                  }
                  .st1 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }
                </style>
                <g id="Layer_1"></g>
                <g id="Layer_2">
                  <g>
                    <path
                      d="M7,18c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C7.5,17.9,7.3,18,7,18z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M12,18c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C12.5,17.9,12.3,18,12,18z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M14,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C14.5,21.9,14.3,22,14,22z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M9,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C9.5,21.9,9.3,22,9,22z"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="M4,22c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1-1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1,1C4.5,21.9,4.3,22,4,22z"
                    ></path>
                  </g>
                  <path
                    d="M20.9,2.5C20.7,2.2,20.4,2,20,2h-6c-0.5,0-0.9,0.3-1,0.8l-0.7,2.7c0,0-0.1,0-0.1-0.1c0,0,0,0-0.1,0 c-0.2-0.1-0.4-0.2-0.7-0.2c-0.3-0.1-0.6-0.1-1-0.1C8.4,5,6.7,6.5,6.3,8.6H5.4c-1.3,0-2.6,0.8-3.1,2.2C2.1,11.2,2,11.7,2,12.2v0.1 c0,0.3,0,0.6,0.1,0.9c0.3,1.4,1.3,2.4,2.6,2.7C4.9,16,5.1,16,5.4,16c0.6,0,1-0.4,1-1s-0.4-1-1-1c-0.1,0-0.2,0-0.3,0 c-0.5-0.1-0.9-0.6-1.1-1.2C4,12.6,4,12.5,4,12.3v-0.1c0-0.3,0.1-0.5,0.1-0.7c0.2-0.6,0.7-0.9,1.3-0.9h1.8c0.6,0,1-0.4,1-1 c0-1.4,1-2.6,2.3-2.6c0.2,0,0.4,0,0.5,0.1c0.1,0,0.3,0.1,0.4,0.1c0,0,0.1,0,0.1,0c0.1,0,0.1,0.1,0.2,0.1c0.7,0.5,1.2,1.3,1.2,2.3 c0,0.1,0,0.2,0.1,0.3l-0.8,1.6c-0.2,0.4-0.1,0.9,0.2,1.2c0.2,0.2,0.4,0.3,0.7,0.3c0.2,0,0.4-0.1,0.6-0.2l2.9-1.9 c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0,0.1,0.1,0.1c0.2,0.3,0.3,0.6,0.3,0.9v0.1c0,0.2,0,0.3-0.1,0.5c-0.1,0.5-0.5,0.9-0.9,1.1 C15.9,14,15.7,14,15.6,14c-0.6,0-1,0.4-1,1s0.4,1,1,1c0.4,0,0.8-0.1,1.1-0.2c1-0.4,1.8-1.3,2.1-2.5c0.1-0.3,0.1-0.7,0.1-1v-0.1 c0-0.7-0.2-1.4-0.5-1.9c-0.1-0.1-0.1-0.2-0.2-0.3c0-0.1-0.1-0.1-0.2-0.2l1.4-1C20,8.6,20.1,8,19.9,7.6l-0.7-1.5l1.7-2.5 C21,3.2,21.1,2.9,20.9,2.5z M17.2,5.4c-0.2,0.3-0.2,0.7-0.1,1l0.6,1.2l-2.1,1.4l0.3-0.6c0.2-0.5,0-1.1-0.4-1.3l-1.3-0.6L14.8,4h3.4 L17.2,5.4z"
                  ></path>
                </g>
              </g>
            </svg>
            <% } %>
            <p><%= weatherData.daily.time[2] %></p>
          </div>
        </div>
        <%# END list-weather-card #%>
      </div>
      <%# END weather-day-by-day #%>
      <% if(locals.map) {%>
      <div class="map-location box-blur">
        
        <div id="map"></div>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
        <script>
            var map = L.map('map').setView([<%= map %>], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

L.marker([<%= map %>]).addTo(map)
    .bindPopup('You are here.')
    .openPopup();
        </script>
        <% } %>
      </div>
      <%# END map-location #%>
    </div>
    <%# END forecast-weather #%>
  </div>
  <% } else {%>

  <%# NO DATA #%>
  <%# HOME BOARD #%>
  <div class="home-board box-blur">
    <%# TITLE #%>
    <h1>FORECASTIFY</h1>

    <%# LOCATE CURRENT POSITION #%>
    <button id="btn-locate" class="button-common">LOCATE</button>

    <%# SEARCH LOCATION #%>
    <div id="form-location" class="box-blur">
      <form
        id="myForm"
        method="POST"
        action="/submit"
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
        "
      >
        <label for="latitude">LATITUDE</label>
        <input
          class="input-common"
          type="text"
          name="latitude"
          id="latitude"
          required
        />
        <label for="longitude">LONGTITUDE</label>
        <input
          class="input-common"
          type="text"
          name="longitude"
          id="longitude"
          required
        />

        <input
          style="margin-top: 10px"
          class="button-common"
          type="submit"
          value="FORECAST"
        />
      </form>
    </div>

    <%# HELP #%>
    <div id="help-button">
      <a href="/help">
        <svg
          width="30px"
          height="30px"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.877075 7.49972C0.877075 3.84204 3.84222 0.876892 7.49991 0.876892C11.1576 0.876892 14.1227 3.84204 14.1227 7.49972C14.1227 11.1574 11.1576 14.1226 7.49991 14.1226C3.84222 14.1226 0.877075 11.1574 0.877075 7.49972ZM7.49991 1.82689C4.36689 1.82689 1.82708 4.36671 1.82708 7.49972C1.82708 10.6327 4.36689 13.1726 7.49991 13.1726C10.6329 13.1726 13.1727 10.6327 13.1727 7.49972C13.1727 4.36671 10.6329 1.82689 7.49991 1.82689ZM8.24993 10.5C8.24993 10.9142 7.91414 11.25 7.49993 11.25C7.08571 11.25 6.74993 10.9142 6.74993 10.5C6.74993 10.0858 7.08571 9.75 7.49993 9.75C7.91414 9.75 8.24993 10.0858 8.24993 10.5ZM6.05003 6.25C6.05003 5.57211 6.63511 4.925 7.50003 4.925C8.36496 4.925 8.95003 5.57211 8.95003 6.25C8.95003 6.74118 8.68002 6.99212 8.21447 7.27494C8.16251 7.30651 8.10258 7.34131 8.03847 7.37854L8.03841 7.37858C7.85521 7.48497 7.63788 7.61119 7.47449 7.73849C7.23214 7.92732 6.95003 8.23198 6.95003 8.7C6.95004 9.00376 7.19628 9.25 7.50004 9.25C7.8024 9.25 8.04778 9.00601 8.05002 8.70417L8.05056 8.7033C8.05924 8.6896 8.08493 8.65735 8.15058 8.6062C8.25207 8.52712 8.36508 8.46163 8.51567 8.37436L8.51571 8.37433C8.59422 8.32883 8.68296 8.27741 8.78559 8.21506C9.32004 7.89038 10.05 7.35382 10.05 6.25C10.05 4.92789 8.93511 3.825 7.50003 3.825C6.06496 3.825 4.95003 4.92789 4.95003 6.25C4.95003 6.55376 5.19628 6.8 5.50003 6.8C5.80379 6.8 6.05003 6.55376 6.05003 6.25Z"
              fill="#ffffff"
            ></path>
          </g>
        </svg>
      </a>
    </div>
    <%# END help-button #%>
  </div>
  <%# END home-board #%>
  <% } %>
</main>

<%# Space Station Scroll -->
<!-- <marquee behavior="scroll" direction="left">
        <img id="space-station" width="50%" height="50%" src="images/space-station-iss.png" alt="Space Station Iss PNG">
    </marquee> #%>

<%- include("partials/footer.ejs") %>
